basePrimary = #fff
basePrimaryDesaturated = #F1F3F5
basePrimaryMoreDesaturated = #FDF3F0
baseSecondary = #1D1C1E
baseSecondaryDesaturated = #333136
accent = #E7816B
accentDesaturated = #FFAD9B

transparentBasePrimary = transparentify(basePrimary, 0.3)
transparentBaseSecondary = transparentify(baseSecondary, 0.5)
transparentAccent = transparentify(accentDesaturated, 0.6)

fontColorPrimary = #1D1C1E
foncColorPrimaryDesaturated = #333136
fontColorSecondary = #fff
fontColorSecondaryDesaturated = #F1F3F5

fontColorSecondaryTransparent = transparentify(fontColorSecondary, 0.5)

fontFamilyPrimary = 'Jost', sans-serif

fontWeightNormal = 400
fontWeightBold = 500

borderRadius = 15px