@import '~@/_tokens.styl'
*
	box-sizing border-box
	margin 0
	font-family fontFamilyPrimary

button
	font-family fontFamilyPrimary

h1
	font-size 3.2rem
	line-height 3.6rem
	font-weight fontWeightNormal

h2
	font-size 3.2rem
	line-height 3.6rem

h3
	text-transform uppercase
	font-weight fontWeightNormal
	font-size 2.8rem
	line-height 3.6rem

h4
	text-transform uppercase
	font-size 1.5rem
	font-weight fontWeightNormal
	line-height 2.1rem

p
	font-weight semi-bold
	font-size 1.5rem
	line-height 2.5rem

small
	font-weight semi-bold
	display block
	font-size 1.5rem
	line-height 2.5rem

a
	color basePrimary
	text-decoration none
	font-size 1.4rem
	margin-right 5px
	text-transform uppercase
	&:hover
		text-decoration underline


mark
	color secondaryMoreDesaturated
	background-color transparent

cite
	display block

@media screen and (min-width: 768px)
	h1
		font-size 4.8rem
		line-height 4.8rem
	h2
		font-size 4rem
		line-height 4rem
	h3
		font-size 4rem
		line-height 4.8rem
	p
		font-size 1.6rem
		line-height 2.6rem

@media screen and (min-width: 1100px)
	h1
		font-size 4.8rem
		line-height 4.8rem
	h2
		font-size 4rem
		line-height 4.8rem